body {
    font: 14px Arial, Helvetica, sans-serif;
    background: #eee;
    width: 1000px;
    height: 100px ;
    color: #666;
}

a {
    color: #333;
}

#nav {
    margin: 0;
    padding: 7pc 6px 0;
    background: #2b2b2b;
    line-height: 100%;
    display: inline-block
}
#nav li {
    margin: 0 5px; /*Menü öğeleri arasında yatay 5px boşluk bırakır*/
    padding: 0 0 8px; /*Alt kısmına 8px boşluk verir.*/
    float: left;/*Menü öğelerinin yana doğru sıralanmasını sağlar. Yan yana olmasını yani*/
    position: relative;
    list-style: none;/*Listenin başındaki yuvarlak gibi işaretleri kaldırır.*/
}

#nav a {
    font-weight: bold;
    color: #e7e;
    text-decoration: none; /*alt çizgiyi kaldırır*/
    display: block;
    padding: 8px 20px;
    margin: 0;
}

#nav a:hover { /*Fare üzerine gelince arka plan siyah yazı da beyaz renk olur*/
    background: #000; /*(hover:fare üstüne gelince)*/
    color: #fff;
}

#nav .current a, #nav li:hover > a { /*Menunun üstüne gelince öğeyi açık gri yapar ve*/
    background: #ddd;                   /* üstüne de yeşil bir çizgi ekler */
    color: #666;
    border-top: 2px solid #df6;
}

#nav ul li:hover a, #nav li:hover li a{
    background: none;
    border: none;
    color: #666;
}

#nav ul a:hover { /*alt menüde fare üzerine gelince yazıyı siyah yapar */
    color: black!important; /*!important kullanımının nedeni başka bir komut verilse de */
}                /*ne olursa olsun bu yazının üstüne gelince yazı rengi siyaha dönüşmesi için*/

#nav li:hover > ul {
    display: block;
}

#nav ul{
    display: none;
    margin: 0;
}

#nav li:hover > ul {
    display: block; /*Alt menüyü başlangıçta görünmez yapar*/
}

#nav ul {
    display: none; /*alt menu başta gizli*/
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute; /*Ana menünün altına açılır*/
    top: 35px;
    left: 0;
    background: #ddd;
    border: 1px solid #b4b4b4;
}

#nav ul a {
    font-weight: normal;/*Alt menü yazıları kalın değil normal olur.*/
}

#nav ul ul { /*Eğer alt menünün içinde bir alt menü daha eklersek sağa doğru açılmasını sağlar*/
    left: 180px;
    top: -1px;
}

/*display: none/block; -> Alt menüyü gizler/gösterir
  hover -> Fare üzerine gelince efekt
  list-style: none;  ->  Nokta işaretleri kaldırılır*/