body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

#menu-wrapper ul {
    padding: 0;
    list-style: none;
}

#hmenu > li {
    display: inline-block;
}

#hmenu > li > a {
    display: block;
    padding: 10px 5px;
    width: 130px;
}

li ul {
    position: absolute;
    display: none;
}

.sub-menu a, #sub-menu a {
    display: block;
    padding: 10px 5px;
    width: 130px;
}

li:hover ul {
    display: block;
}

#menu-wrapper, li ul {
    background: #333;
}

#hmenu {
    width: 412px;
    margin: 0 auto;
}

#hmenu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hmenu li:hover { /*fare üstüne gelince*/
    background: #a3cd39;
    text-shadow: 0 0 2px #000;
}
